body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
}
